<section class="flex flex-col items-center text-center px-6 pt-32 pb-20">

  <img src="/img/logo/purple/favicon.svg" alt="Logo CitaPote" class="error rounded-full">
  <h1 class="error font-allerta">Erreur 404...</h1>
  <h2 class="error">Cette page n'existe pas 🤔</h2>
  <p class="error">Tu t'es peut-être perdu dans un univers parallèle... ou alors la citation que tu cherches s’est envolée.</p>

  <a href="/" class="mt-1 px-5 py-2 rounded-full flex items-center gap-2 text-white bg-[var(--secondary-color)] font-semibold shadow-lg hover:scale-105 transition-transform text-base self-center">Retour à l'accueil</a>

</section>
